{% extends 'base.html' %}
{% load widget_tweaks %}

{% block titulo %}
    Categoria | {{ block.super }}
{% endblock titulo %}

{% block corpo %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Categoria</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="{{ form.nome.id_for_label }}" class="form-label">{{ form.nome.label }}</label>
                        {% render_field form.nome class='form-control' autofocus='autofocus' %}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.descricao.id_for_label }}" class="form-label">{{ form.descricao.label }}</label>
                        {% render_field form.descricao class='form-control' %}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.tipo.id_for_label }}" class="form-label">{{ form.tipo.label }}</label>
                        {% render_field form.tipo class='form-control' %}
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a class="btn btn-outline-secondary" href="{% url 'geral:lista_categorias' %}">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
{% endblock corpo %}
