{% extends 'base.html' %}

{% block titulo %} Minhas Movimentações | {{ block.super }} {% endblock titulo %}

{% block corpo %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Minhas Movimentações</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Discriminação</th>
                            <th scope="col">Valor R$</th>
                            <th scope="col">Data</th>
                            <th scope="col">Tipo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for movimentacao in movimentacoes %}
                            <tr>
                                <th scope="row">{{ movimentacao.id }}</th>
                                <td>{{ movimentacao.descricao }}</td>
                                <td>{{ movimentacao.discriminacao }}</td>
                                <td>{{ movimentacao.valor }}</td>
                                <td>{{ movimentacao.data_criacao }}</td>
                                <td>{{ movimentacao.get_tipo_display }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a class="btn btn-outline-primary" href="">Nova Movimentação</a>
            </div>
        </div>
    </div>

{% endblock corpo %}